@font-face {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;

  src: url("./assets/fonts/Comfortaa-Regular.woff2") format("woff2"); /* Modern Browsers */
}

:root {
  --bg-color: #EDF0F1;
  --dark-grey: #505050;
  --blue: #4A7FFF;
  --red: #FF4A7B;
  --blue-gradient: linear-gradient(to top left, #4A7FFF, #85CAFF);
  --red-gradient: linear-gradient(to top left, #FF4A7B, #FF8585);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-size: 0.564971751vh;

  user-select: none;
}

body {
  min-height: 100vh;
  /* width: 100vw; */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 23rem;
}


.game-menu {
  position: fixed;
  z-index: 5;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  justify-self: flex-start;
  align-items: center;
  justify-content: center;
  top: 0;
}
.game-menu-container {
  display: flex;
  position: absolute;
  max-height: 137rem;
  width: 82rem;
  max-width: 100vw;
  background-color: white;
  border-radius: 13rem;
  padding: 10rem 6vw;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.logo-container {
  display: flex;
  height: 53rem;
  width: 53rem;
  max-height: 53vw;
  max-width: 53vw;
  background: var(--blue-gradient);
  box-shadow: 2rem 2rem 6rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 16rem;
  margin-bottom: 10rem;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  height: 31rem;
  width: 31rem;
  max-height: 31vw;
  max-width: 31vw;
}
.menu-button {
  display: flex;
  height: 14rem;
  width: 70rem;
  max-width: 88vw;
  background-color: white;
  border: .75rem solid var(--blue);
  border-radius: 38rem;
  font-size: 3vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  margin-top: 4rem;

  transition: 0.2s;
}
.menu-button:hover {
  background: var(--blue-gradient);
  box-shadow: 2rem 2rem 6rem 0 rgba(0, 0, 0, 0.15);
  border: none;
  color: white;
}
.menu-button:focus {

  background: var(--blue-gradient);
  box-shadow: 2rem 2rem 6rem inset rgba(0, 0, 0, 0.15);
}





.header {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 24rem;
  width: 78rem;
  max-height: 24vw;
  max-width: 78vw;
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24rem;
  width: 24rem;
  max-height: 24vw;
  max-width: 24vw;
}
.back-icon {
  position: relative;
  left: -1rem;
  height: 11rem;
  width: 11rem;
  max-height: 11vw;
  max-width: 11vw;
}


.win-screen {
  display: none;
  position: relative;
  justify-content: center;
  margin: 32rem 0 6rem;
}

.white-box, .show-box {
  height: 36rem;
  width: 78rem;
  max-height: 36vw;
  max-width: 78vw;
  background-color: white;
  border-radius: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--dark-grey);
}
.win-screen .white-box > div {
  display: none;
}
.win-screen .white-box > div.show-winner-symbol {
  display: flex;
  margin-right: 8rem;
}
.show-winner-symbol ~ .won-text, .show-winner-symbol ~ .draw-text{
  display: block!important;
}
.win-screen .white-box .draw-text, .won-text {
  color: var(--dark-grey);
  font-size: 12rem;
}

.win-screen .show-winner-symbol ~ .draw-text {
  display: none!important;
}

.column.reverse {
  display: flex;
  flex-direction: column-reverse;
}

.wrapper {
  position: relative;
  height: 78rem;
  width: 78rem;
  max-height: 100vw;
  max-width: 100vw;
  overflow: hidden;
  border-radius: calc(100%/6);
}
.unclickable-overlay {
  display: none;
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
}
#grid {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: calc(100%*(3/78));
}
#grid.blur {
  filter: blur(2px);
}
.box {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


#a1, #a2, #a3 {
  grid-row: 1/2;
}
#b1, #b2, #b3 {
  grid-row: 2/3;
}
#c1, #c2, #c3 {
  grid-row: 3/4;
}


.x-cross .symbol, .x-cross.x-turn.on-turn.color > .symbol {
  height: 11rem;
  width: 11rem;
  max-height: 11vw;
  max-width: 11vw;
  background: url(assets/svg/x-cross.svg);
  background-size: 100% 100%;
}
.o-nought .symbol, .o-nought.o-turn.on-turn.color > .symbol {
  height: 12rem;
  width: 12rem;
  max-height: 12vw;
  max-width: 12vw;
  background: url(assets/svg/o-nought.svg) no-repeat;
  background-size: 100% 100%;
}

.x-on-turn .box:not(.o-nought):hover .preview {
  height: 11rem;
  width: 11rem;
  max-height: 11vw;
  max-width: 11vw;
  background: url(assets/svg/x-cross.svg);
  background-size: 100% 100%;
  opacity: 0.25;
}

.o-on-turn .box:not(.x-cross):hover .preview {
  height: 12rem;
  width: 12rem;
  max-height: 12vw;
  max-width: 12vw;
  background: url(assets/svg/o-nought.svg) no-repeat;
  background-size: 100% 100%;
  opacity: 0.25;
}

.sized-box {
  height: 20rem;
}
.sign-selection {
  display: none;
  margin-bottom: 12rem;
}
.sign-select-button {
  height: 28rem;
  width: 35rem;
  max-height: 28vw;
  max-width: 35vw;
  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.turn-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.turn-indicator.show-box{
  display: flex;
  margin-bottom: -14rem;
}
.turn-indicator.show-box > .x-turn, .turn-indicator.show-box > .o-turn, .x-won.x-cross, .o-won.o-nought, .sign-select-button > div {
  background: var(--bg-color);
}
.x-turn, .o-turn, .x-won, .o-won, .x-sign-select, .o-sign-select {
  height: 20rem;
  width: 20rem;
  max-height: 20vw;
  max-width: 20vw;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x-turn.on-turn {
  background: var(--blue-gradient);
  transition:  background 1s;
}
.o-turn.on-turn {
  background: var(--red-gradient);
  transition:  background 1s;
}

.o-nought.o-turn.on-turn > .symbol {
  background: url(assets/svg/o-nought-white.svg) no-repeat;
  background-size: 100% 100%;
}
.x-cross.x-turn.on-turn > .symbol {
  background: url(assets/svg/x-cross-white.svg);
  background-size: 100% 100%;
}


.win-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30rem;
  max-width: 30vw;
  color: var(--dark-grey);
}
.x-win-counter:after {
  content: ":";
}
.x-win-counter, .x-win-counter:after, .o-win-counter {
  font-size: 12rem;
}

.play-again-icon {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  height: 30rem;
  width: 24.77rem;
  max-height: 30vw;
  max-width: 24.77vw;
  fill: currentColor;

  transition: opacity 0.6s, transform 0.6s;
  transform: translateX(-47%) translateY(-52.4%) scale(0) rotateY(180deg) rotateZ(-180deg);
}

.play-again-icon-fade-in {
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translateX(-47%) translateY(-52.4%) scale(1) rotateY(180deg) rotateZ(-405deg);
}

.winning-line {
  z-index: 2;
  position: absolute;
  height: 1.5rem;
  width: 66rem;
  max-height: 1.5vw;
  max-width: 66vw;
  border-radius: 1.5rem;
  background: currentColor;

  transform-origin: center;
  transform: translateX(-200%) translateY(-200%);
}
