.winning-condition-0-starting-point {
  transform: translateX(-210%) translateY(-206px);
}
.winning-condition-0 {
  transition: transform 0.6s;
  transform: scaleX(2.8) translateX(0) translateY(-206px);
}

.winning-condition-1-starting-point {
  transform: translateX(-210%);
}
.winning-condition-1 {
  transition: transform 0.6s;
  transform: scaleX(2.8) translateX(0);
}

.winning-condition-2-starting-point {
  transform: translateX(-210%) translateY(206px);
}
.winning-condition-2 {
  transition: transform 0.6s;
  transform: scaleX(2.8) translateX(0) translateY(206px);
}

.winning-condition-3-starting-point {
  transform: translateX(-206px) translateY(-412px) rotate(90deg);
}
.winning-condition-3 {
  transition: transform 0.6s;
  transform: translateX(-206px) scaleY(2.8) translateY(0) rotate(90deg);
}

.winning-condition-4-starting-point {
  transform: translateY(-412px) rotate(90deg);
}
.winning-condition-4 {
  transition: transform 0.6s;
  transform: scaleY(2.8) translateY(0) rotate(90deg);
}

.winning-condition-5-starting-point {
  transform: translateX(206px) translateY(-412px) rotate(90deg);
}
.winning-condition-5 {
  transition: transform 0.6s;
  transform: translateX(206px) scaleY(2.8) translateY(0) rotate(90deg);
}
.winning-condition-6-starting-point {
  transform: translateX(-618px) translateY(-618px) rotateZ(45deg);
}
.winning-condition-6 {
  transition: transform 0.6s;
  transform: rotateZ(45deg) translateX(0) scaleX(3.6) scaleY(1) translateY(0);
}

.winning-condition-7-starting-point {
    transform: translateY(-618px) translateX(618px) rotateZ(-45deg);
}
.winning-condition-7 {
  transition: transform 0.6s;
  transform: rotateZ(-45deg) translateX(0) scaleX(3.6) scaleY(1) translateY(0);
}
